@using OneCore.CategorEyes.Client.Components
@using OneCore.CategorEyes.Client.Utils
@page "/"

<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            Use below section to upload your file and click button to start the analysis.
        </div>
    </div>
    <DropZone />
</div>