@inherits LayoutComponentBase

<div class="page">
    <LoadingIndicator />
    <RadzenLayout Style="width: 100vw">
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@ToggleSideBar" />
                <RadzenLabel Text="CategorEyes" />
                <CultureSelector />
            </RadzenStack>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@expandedSideBar">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="@(Resource.Analysis)" Icon="psychology" Path="/" />
                <RadzenPanelMenuItem Text="@(Resource.Historical)" Icon="insights" Path="historical" />
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody>
            <div class="rz-p-12">
                @Body
            </div>
        </RadzenBody>
        <RadzenFooter Style="">
            Blake T. Attaway - 2024
        </RadzenFooter>
    </RadzenLayout>
    <RadzenComponents />
</div>

@code {
    bool expandedSideBar = true;

    void ToggleSideBar()
    {
        expandedSideBar = !expandedSideBar;
    }
}